{% extends '@Chat/base.html.twig' %}
{% block body %}
    <div>
    <h1>Liste Messages</h1>
    <ul>
    {% for message in listMessage %}
        <li>
            <p>{{message.user.name}}</p>
            <p>{{message.message}}</p>
            <p>{{message.datetime|date('Y-m-d h:m:s') }}</p>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div>

        <h1>Message</h1>
        {{ form (form) }}

    </div>
{% endblock %}
