{% extends '@Chat/base.html.twig' %}

{% block body %}

<div class="container home">
    <div class="row">

        <h4>Mini Chat</h4>

        <div class="chatHeader">
            <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
            <h6 class="showUsername">username</h6>
            <p class="showBaseline">baseline</p>
        </div>

        <div class="listMessages">

            <ul class="collection">
                {% for message in listMessage %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <p>{{message.user.name}}</p>
                        <p>{{message.message}}</p>
                        <p>{{message.datetime|date('Y-m-d h:m:s') }}</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="typeMessage">
            {{ form(form) }}
        </div>

    </div>
</div>
{% endblock %}
