{% extends '@Chat/base.html.twig' %}
{% block body %}
    <div>
    <h1>Liste Messages</h1>
    <ul>
    {% for messages in listMessages %}
        <li>
            <p> {{ message.user_id }}</p>
            <p>{{message.message}}</p>
            <p>{{message.datetime|date('Y-m-d h:m:s') }}</p>

        </li>
    {% endfor %}
    </ul>
    </div>
    <div>
        <h1>Message</h1>
        {{ form (form) }}

    </div>
{% endblock %}
