{% extends '@Chat/base.html.twig' %}

{% block body %}

    <div class="container home">
        <div class="row">
            <div>
                <h4>Welcome to the MiniChat</h4></div>
                        <div>
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
{% endblock %}
